<p-panel header="Danh Sách Sản Phẩm">
  <div class="grid">
    <div class="col-4">
      <button
        pButton
        type="button"
        (click)="showAddModal()"
        icon="fa fa-plus"
        iconPos="left"
        label="Thêm"
      ></button>
      <button
        pButton
        type="button"
        (click)="showEditModal()"
        *ngIf="selectedItems.length == 1"
        class="ml-1 p-button-help"
        icon="fa fa-minus"
        iconPos="left"
        label="Sửa"
      ></button>
      <button
        pButton
        type="button"
        (click)="deleteItems()"
        *ngIf="selectedItems.length > 0"
        class="ml-1 p-button-danger"
        icon="fa fa-minus"
        iconPos="left"
        label="Xóa"
      ></button>
    </div>
    <div class="col-8">
      <div class="formgroup-inline">
        <div class="field">
          <label for="txt-keyword" class="p-sr-only">Từ Khóa</label>
          <input id="txt-keyword" pInputText type="text" placeholder="Từ Khóa" />
        </div>
        <div class="field">
          <p-dropdown
            [options]="productCategories"
            [(ngModel)]="categoryId"
            placeholder="Chọn Danh Mục"
          ></p-dropdown>
        </div>
        <button
          type="button"
          pButton
          (click)="loadData()"
          icon="fa fa-search"
          iconPos="left"
          label="Tìm Kiếm"
        ></button>
      </div>
    </div>
  </div>
  
  <!--Table-->
  <p-table #pnl [value]="items" [(selection)]="selectedItems" selectionMode="multiple">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Mã Sản Phẩm</th>
        <th>Code</th>
        <th>Tên Sản Phẩm</th>
        <th>Loại Sản Phẩm</th>
        <th>Danh Mục Cha</th>
        <th>Danh Mục Con</th>
        <th>Hiển Thị</th>
        <th>Kích Hoạt</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr [pSelectableRow]="row">
        <td style="width: 10px">
          <span class="ui-column-title"></span>
          <p-tableCheckbox [value]="row"></p-tableCheckbox>
        </td>
        <td>{{ row.id }}</td>
        <td>{{ row.code }}</td>
        <td>{{ row.name }}</td>
        <td>{{ getProductTypeName(row.productType) }}</td>
        <td>{{ row.parentCategoryName }}</td>
        <td>{{ row.categoryName }}</td>
        <td>
          <p-badge *ngIf="row.isVisibility == 1" severity="success" value="Hiển Thị"></p-badge>
          <p-badge *ngIf="row.isVisibility == 0" severity="danger" value="Ẩn"></p-badge>
        </td>
        <td>
          <p-badge *ngIf="row.isActive == 1" value="Kích Hoạt" severity="success"></p-badge>
          <p-badge *ngIf="row.isActive == 0" value="Khoá" severity="danger"></p-badge>
        </td>
        <td>
          <button
          pButton
          pRipple
          type="button"
          label="Thuộc Tính"
          icon="fa fa-pencil"
          class="p-button-text"
          (click)="manageProductAttribute(row.id)"
        >
        </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div style="text-align: left">Tổng: {{ totalCount | number }}</div>
    </ng-template>
  </p-table>
  <!--Paginator-->
  <p-paginator
    [rows]="maxResultCount"
    [totalRecords]="totalCount"
    (onPageChange)="pageChanged($event)"
    [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
  ></p-paginator>
  <!--Block UI-->
  <p-blockUI [blocked]="blockedPanel" [target]="pnl">
    <p-progressSpinner></p-progressSpinner>
  </p-blockUI>
</p-panel>
